# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log

# Sensitive variables
*.tfvars
*.tfvars.json

# CLI config
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log
